<% var corFundo = "bg-gray-300" %>
<% var corFundoSecundario = "bg-gray-300" %>
<% var corBotao = "bg-blue-500" %>
<% var corBotaoHover = "hover:bg-blue-600" %>
<% var corTexto = "text-gray-700" %>
<% var corBorda = "border-blue-500" %>
<% var corLabel = "text-gray-600" %>
<% var corBordaInput = "border-gray-300" %>
<% var textInput  = "block text-sm font-medium text-gray-700 mb-2" %>
<div class="flex flex-col w-full justify-center items-center">
<div class="<%- corFundoSecundario %> p-6 rounded-lg shadow-lg w-full max-w-3xl"> 
  
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4"> 
       
        <div class="col-span-2">
            <label for="nome" class="<%- corLabel %> <%- textInput %>">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label class="<%- corLabel %> <%- textInput %> flex flex-row gap-x-2">Tipo de Documento
            <div class="flex items-center gap-2">
                <input type="radio" id="cpf" name="documento" value="cpf" class="focus:ring-blue-500" checked>
                <label for="cpf" class="<%- corLabel %>">CPF</label>
                <input type="radio" id="cnpj" name="documento" value="cnpj" class="focus:ring-blue-500">
                <label for="cnpj" class="<%- corLabel %>">CNPJ</label>
            </div>
            </label>
            <input type="text" id="documento" name="documento" placeholder="Digite CPF ou CNPJ" class="w-full mt-2 px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div class="flex flex-col justify-between">
            <label for="rg" class="<%- corLabel %> <%- textInput %>">RG</label>
            <input type="text" id="rg" name="rg" placeholder="Digite seu RG" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label for="dataNascimento" class="<%- corLabel %> <%- textInput  %>">Data de Nascimento</label>
            <input type="date" id="dataNascimento" name="dataNascimento" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label for="email" class="<%- corLabel %> <%- textInput  %>">Email</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label for="bairro" class="<%- corLabel %> <%- textInput  %>">Bairro</label>
            <input type="text" id="bairro" name="bairro" placeholder="Digite seu bairro" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label for="rua" class="<%- corLabel %> <%- textInput  %>">Rua</label>
            <input type="text" id="rua" name="rua" placeholder="Digite sua rua" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div>
            <label for="numero" class="<%- corLabel %> <%- textInput  %>">Número</label>
            <input type="number" id="numero" name="numero" placeholder="Digite o número" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>

        
        <div id="inscricaoEstadualDiv" style="display: none;">
            <label for="inscricaoEstadual" class="<%- corLabel %> <%- textInput  %>">Inscrição Estadual</label>
            <input type="text" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="Digite a Inscrição Estadual" class="w-full px-4 py-2 <%- corBordaInput %> rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        
        <div class="col-span-1">
            <%- include('../Combos/ComboChaveValor.ejs', { 
                id: 'municipio', 
                name: 'municipio', 
                titulo: 'Município', 
                dados: Municipios 
            }) %>
        </div>
        <% if (role === '') { %>
            <div class="w-full col-span-2 flex flex-row justify-end ">
                <button id="registrar" type="button" class="py-2 px-3 <%- corBotao %> text-white rounded-md <%- corBotaoHover %> transition duration-300">
                    Registrar
                </button>
            </div>
        <% } %>
    </div>
</div>
<script type="module" src="/js/Operacoes/RegisterPage.js"></script>
